#imgsInContact{
    width: 60px;
    height: 60px;
    align-self: flex-start;
}

.ContactMe{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #16384c;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ContactMe::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(153, 153, 185);
}

.box{
    position: relative;
    min-width: 90%;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

.contactInfo {
    position: absolute;
    top: 40px;
    width: 20%;
    height: calc(100% - 80px);
    background-color: #16384c;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0,0,0,.5);
    
}

.ContactMe .box .contactInfo h2{
    color: black ;
    font-size: 24px;
    font-weight: 500;
}

.ContactMe .box .contactInfo .info{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.info li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* #email{
    padding-left: 30px;
} */


.ContactMe .box .contactInfo .info li span:nth-child(1){

    width: 30px;
    min-width: 30px;
}

.ContactMe .box .contactInfo .info li span:nth-child(1) img{

    /* filter: invert(1); */
    opacity: 1;
}

#testing{
    display: flex;
    flex-direction: column;
}


.ContactMe .box .contactInfo .sci{
    position: relative;
    display: flex;
}

.ContactMe .box .contactInfo .sci li{
    list-style: none;
}

.contactForm{
    position: absolute;
    padding: 70px 50px;
    background-color: ghostwhite;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0,0,0,.5);
}

.contactForm h2{
    color: black;
    font-size: 24px;
    font-weight: 600
}

.formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.inputBox{
    position: relative;
    margin: 0 0 35px 0;

}

.w47{
    width: 47%;
}

.w100{
    width: 100%;
}

.inputBox input{
    width: 100% !important; 
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
    background-color: ghostwhite;
}

textarea{
    min-height: 120px;
    min-width: 100%;
    resize: none;
    background-color: ghostwhite;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.5s;
    pointer-events: none;
}

.inputBox input:focus ~span,
.inputBox textarea:focus ~span,
.inputBox input:valid ~span,
.inputBox textarea:valid ~span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}

.inputBox input[type = "submit"]{
    position: relative;
    cursor: pointer;
    background: #16384c;
    color: azure;
    border: none;
    max-width: 150px;
    padding: 12px 12px;
}

.inputBox input[type = "submit"]:hover{
    color: cornflowerblue;
}

#mobile{
    display: flex;
    display: none;
}




/* Issue occurs at 1100px */
@media all and (max-width: 1100px){

    .contactInfo{
        display: none !important;
        width: 0 !important;
        height: 0 !important;
    }

    .box{
        width: 90% !important;
        height: 100% !important;
        display: flex !important;
        justify-content: center !important;
        margin: 0px !important; 
        /* padding:  !important;  */
    }

    .contactForm{
        width: 90% !important;
        margin: 0px !important; 
        padding: 20px !important;
        /* margin: auto !important; */
    }



}